.DS_Store
.vscode/settings.json
cs580-master.zip
HW1_Beqari_and_Williamson/.vscode/settings.json
HW1_Beqari_and_Williamson/src/82-doc2vec/config.txt
HW1_Beqari_and_Williamson/src/formathw1.txt
HW1_Beqari_and_Williamson/src/82-doc2vec/x_eval.pkl
HW1_Beqari_and_Williamson/src/82-doc2vec/x_test.pkl
HW1_Beqari_and_Williamson/src/82-doc2vec/x_train.pkl
HW1_Beqari_and_Williamson/src/84-distilBERT/config.txt
HW1_Beqari_and_Williamson/src/84-distilBERT/predictions_beqari_and_williamson.txt
HW1_Beqari_and_Williamson/src/84-distilBERT/x_eval.pkl
HW1_Beqari_and_Williamson/src/84-distilBERT/x_test.pkl
HW1_Beqari_and_Williamson/src/84-distilBERT/x_train.pkl
HW1_Beqari_and_Williamson/src/87.6-largeBERT/config.txt
HW1_Beqari_and_Williamson/src/87.6-largeBERT/predictions_beqari_and_williamson.txt
HW1_Beqari_and_Williamson/src/87.6-largeBERT/x_eval.pkl
HW1_Beqari_and_Williamson/src/87.6-largeBERT/x_test.pkl
HW1_Beqari_and_Williamson/src/87.6-largeBERT/x_train.pkl
HW1_Beqari_and_Williamson/src/__pycache__/tsss.cpython-38.pyc
HW2_Beqari_and_Williamson/Archive.zip
HW2_Beqari_and_Williamson/.vscode/settings.json
HW2_Beqari_and_Williamson/__pycache__/mnist_cnn.cpython-38.pyc
HW2_Beqari_and_Williamson/__pycache__/mnist.cpython-38.pyc
*.pkl
